.movi-container {
  padding-top: 20px;
}

.back-link {
  display: block;
  width: 150px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: beige;
  color: black;
  text-align: center;
}

.movie-info {
  display: flex;
  gap: 20px;
}
